label { display: block; margin-bottom: 5px; }
label div { width: 90px; display: inline-block; }
input, select {
	padding: 3px 5px;
}
input {
	color: #7d7d7d;
}
button {
	background: #008000;
	border: 1px solid #007700;
	color: #FFF;
	padding: 8px 15px;
	border-radius: 2px;
	cursor: pointer;
}
input[type="text"] {
	width: 396px;
}
body {
	background: #eaeaea;
}
#wrapper {
	width: 500px;
	margin: 0 auto;
	padding: 15px;
	background: #dcdcdc;
	border-radius: 3px;
}
.hue { background: #828282; border: 1px solid #808080; }
span.clear { clear: both; display: block; }
.impt { color: red; line-height: 17px; }
h2 {
	margin: 0;
	margin-bottom: 20px;
	color: #484848;
}
