body { width: 340px; background: #DDDDDD; }
h2 { color: #4e4e4e; }
select { padding: 5px; }
.label { margin-bottom: 5px; }
button {
	float: right;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	color: #FFF;
	cursor: pointer;
	padding: 7px 20px;
}
#enableAutoBreak {
	background: green;
}
#disableAutoBreak {
	display: none;
	background: #c0392b;
}
